@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

html {
  font-family: "Roboto", Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
}

.wrapper {
  margin-left: 10%;
}

header {
}

header nav a {
  font-size: 1.4rem;
  color: #659d89;
}
