* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  height: 100vh;
  background: url("../img/peter-thomas-4lLOihvXrTk-unsplash.jpg") no-repeat
    center;
  background-size: cover;
}
