* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  margin: 10px;
  text-align: center;
}

main div {
  display: flex;
  justify-content: center;
  align-items: center;
}

main div div {
  height: 150px;
  width: 150px;
  margin: 10px;
}

main div div:nth-of-type(1) {
  background: rgb(255, 170, 0);
}

main div div:nth-of-type(2) {
  background: url("../img/peter-thomas-CurCSZ4AWDI-unsplash.jpg") no-repeat
    center;
  background-size: cover;
}

main div div:nth-of-type(3) {
  background: linear-gradient(90deg, rgb(255, 170, 0), black);
}
