section {
  height: 400px;
  width: 400px;
}

.one {
  background-image: url("https://images.unsplash.com/photo-1509895846073-1c731f9f0950?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  background-size: cover;
}

.one:hover {
  border-style: double;
}

.two {
  background-image: url("https://images.unsplash.com/photo-1523952578875-e6bb18b26645?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  background-size: cover;
}

.two:hover {
  filter: grayscale(100%);
}

.three {
  background-image: url("https://images.unsplash.com/photo-1517411032315-54ef2cb783bb?q=80&w=1530&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  background-size: cover;
}

.three:hover {
  border-radius: 50%;
}
